* {
  text-decoration: none;
}
/* Navbar Styling */
.navbar {
  width: 100%;
  height: 4vw;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
}
.navbar-container {
  background-color: transparent;
  display: grid;
  grid-template-columns: 9vw 90.8%;
  /* border: 1px solid black; */
  width: 100%;
  height: 4vw;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar-scroll {
  background-color: black;
  display: grid;
  grid-template-columns: 9vw 90.8%;
  /* border: 1px solid black; */
  width: 100%;
  height: 4vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 2vw;
}
.navbar-logo {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
}

.navbar-links {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  width: 100%;
  justify-content: space-between;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
  margin-left: 2.5vw;
}

.nav-login {
  padding-right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid wheat; */
}

.navbar-login:hover {
  color: aqua;
}

/* Search Input */
.navbar-search {
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 3px;
  color: white;
}

/* Mobile Menu Icon */
.navbar-menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
}
.nav-search {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar {
  /* border: 1px solid black; */
  width: 25vw;
  height: 4vh;
  border-radius: 0.9vw;
  display: flex;
  align-items: center;
  background-color: #3a3a3a;
  opacity: 0.7;
}
.iconglass {
  /* border: 1px solid black; */
  width: 2vw;
  height: 2.5vh;
  color: white;
}
.searchbar input {
  border: none;
  width: 20vw;
  background-color: #3a3a3a;
  color: white;
}
.searchbar input:focus {
  outline: none;
}

.nav-login {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: end;
}
.loguser {
  color: white;
  display: flex;
  /* border: 1px solid white; */
  height: 5vh;
  align-items: center;
}

.ulogc:hover {
  /* border: 1px solid white; */
  color: aqua;
}
.loguser:hover {
  cursor: pointer;
  text-decoration: none;
}
.loguser a:hover {
  text-decoration: none;
  color: aqua;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
  }
  .navbar-scroll {
    width: 100%;
    height: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 27px;
    right: 0;
    background-color: #333;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navbar-links a:hover {
    text-decoration: none;
    color: rgb(144, 255, 255);
  }
  .searchbar {
    /* border: 1px solid black; */
    width: 60vw;
    height: 5vh;
  }

  .searchbar .searchinputnav {
    /* border: 1px solid black; */
    width: 50vw;
    height: 5vh;
    font-size: 15px;
    color: red;
  }
  .iconglass {
    /* border: 1px solid black; */
    width: 30px;
  }

  .navbar-links.active {
    display: flex;
  }
  .searchbar.active {
    display: flex;
  }

  .navbar-menu-icon {
    display: block;
    /* border: 1px solid black; */
  }

  .navbar-links a {
    padding: 1rem 0;
    width: 100%;
  }

  .navbar-search {
    margin: 1rem 0;
    width: 80%;
  }

  .navbar-login {
    margin-bottom: 1rem;
    width: 80%;
  }
}
